    <!-- video player space begins -->
<!-- <div id="ytplayer"></div>

  <br>
 -->
<div id="test_player">
</div>
<Br>
<div id="player_controls">

<!-- <button id="previous">previous</stop>
 --><!--   <button id="stop">stop</button> -->
<!--   <button id="play">play</button> -->
  <button id="next">next</button>
  <button id="shuffle">shuffle order</button>

</div>
<br><br>
  <!-- video player space ends -->

  <!-- playlist & user_add_section template starts -->
<div id="songlist">
</div>

  <!-- playlist & user_add_section template ends -->



<script>
$(function() {
  Juketube.SongsRouter = new Juketube.Routers.Router();
  Backbone.history.start();
});


  var user_email = '<%=current_user.email%>' || 'please log in';
  var user_id = <%=current_user.id%> || 1 ;

  var keyword;
  var artist;
  var title;
  var video_id;
  var video_title;
  var songID = 'qZN02hVenCo';
  var model_id;


  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;

 function onYouTubePlayerAPIReady(event) {
      player = new YT.Player('ytplayer', {
        height: '390',
        width: '640',
        videoId: songID,
        autoplay: 1,
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }

        // playerVars:
        // {
        //   listType:'playlist',
        //   list: 'PLOiWtzAHWI7kghjD8Cl44gsHNIQ9p--Ws',
        //   autoplay: true
        // }

      });
  }


  function onPlayerReady(event) {
    // event.target.playVideo();
    // event.this.setShuffle(shufflePlaylist: true);
  }


  function onPlayerStateChange(event) {
    if (event.data) {

    }
  }


  // function pauseVideo(event) {
  //   player.pauseVideo();
  // }
  // var randomShuffle = function(){
  //   player.setShuffle(shufflePlaylist:true);
  // }


  // $('#shuffle').click(randomShuffle(e){
  //   e.preventDefault();
  // });

  // var random = function(event){
  //   player.setShuffle( shufflePlaylist:true );
  // }


  // $('.play').click(function(event){
  //   event.preventDefault();
  //     onYouTubePlayerAPIReady(songID);

  // });


  // $('#stop').click(function(event){
  //   event.preventDefault();
  //     pauseVideo();

  // });


</script>

