<% if user_signed_in? %>

    <!-- video player space begins -->
    <!-- <div id="ytplayer"></div>
    <br>
        -->
      <div id="test_player">
      </div>



      <div id="player_controls">
      <!--  <button id="previous">previous</button>
            <button id="stop">stop</button>
            <button id="play">play</button>
            <button id="next">next</button> -->
            <button id="shuffle">random next</button>
            <span id="now_playing_song">
            </span>
      </div>



        <!-- playlist & user_add_section template starts -->
      <div id="songlist">
      </div>     <!-- playlist & user_add_section template ends -->

<% end %>


<script>
$(function() {
  Juketube.SongsRouter = new Juketube.Routers.Router();
  Backbone.history.start();
});

<% if user_signed_in? %>
  var user_email = '<%=current_user.email%>';
  var user_id = <%=current_user.id%>;
<% end %>

  var keyword;
  var artist;
  var title;
  var video_id;
  var video_title;
  var songID;
  var model_id;

          <% @songs = Song.all %>
          <% all_song_urls = [] %>

          <% @songs.each do |song| %>
              <% all_song_urls << song.video_id %>
          <% end %>


  $('#shuffle').click(function(event){

  var allSongsArray = <%= raw all_song_urls.to_json.gsub("</", "<\\/") %>;
      var indexRandom = Math.floor(Math.random() * allSongsArray.length);
      songID = allSongsArray[indexRandom];


    var songAddress = "http://www.youtube.com/embed/"+songID;
    console.log(songAddress);
    $("#test_player").html("<iframe id='ytplayer' type='text/html' width='640' height='390' src=" +songAddress+ "?autoplay=1 frameborder='0' allowfullscreen></iframe>");


    $("#now_playing_song").html(songID);
  });




  // Load the IFrame Player API code asynchronously.
  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/player_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  // Replace the 'ytplayer' element with an <iframe> and
  // YouTube player after the API code downloads.
  var player;

 function onYouTubePlayerAPIReady(event) {
      player = new YT.Player('ytplayer', {
        height: '390',
        width: '640',
        videoId: songID,
        autoplay: 1,
        events: {
            'onReady': onPlayerReady,
            'onStateChange': onPlayerStateChange
        }

        // playerVars:
        // {
        //   listType:'playlist',
        //   list: 'PLOiWtzAHWI7kghjD8Cl44gsHNIQ9p--Ws',
        //   autoplay: true
        // }

      });
  }


  function onPlayerReady(event) {
    // event.target.playVideo();
    // event.this.setShuffle(shufflePlaylist: true);
  }


  function onPlayerStateChange(event) {
    if (event.data) {

    }
  }


  // function pauseVideo(event) {
  //   player.pauseVideo();
  // }
  // var randomShuffle = function(){
  //   player.setShuffle(shufflePlaylist:true);
  // }



  // var random = function(event){
  //   player.setShuffle( shufflePlaylist:true );
  // }


  // $('.play').click(function(event){
  //   event.preventDefault();
  //     onYouTubePlayerAPIReady(songID);

  // });


  // $('#stop').click(function(event){
  //   event.preventDefault();
  //     pauseVideo();

  // });


</script>

