<!-- jukebox queue begins -->
  <p><Center>
  next up is:  artist ... "title" ... from user 2</center>
  </p>

<br>
  queue:
  <ul id="playlist">
  </ul>
  <button id="shuffle">random shuffle</button>
  <!-- jukebox queue ends -->

  <!-- add songs here -->
<div id="user_add_section">
  <form name="input" action="/songs">
    artist:
    <input type="text" id="artist_field">
    title:
    <input type="text" id="title_field">
    <button id="add_to_queue">Add to Queue2</button>
  </form>
</div>
<br><br><br>



  <!-- add songs ends -->
