<!-- jukebox queue begins -->
<br>
queue:
<div id="playlist_border">
  <ul id="playlist">


    {{#songs}}
    <li>{{video_title}} ... from {{user_email}} {{ song_id }}<button id="remove_<%=song.id%>">x</button> </li>
    {{/songs}}


  </ul>
</div>
<!-- jukebox queue ends -->

<!-- add songs here -->
<br>
<div id="user_add_section">
  <form name="input" action="/songs">
    artist:
    <input type="text" id="artist_field">
    title:
    <input type="text" id="title_field">
    <button id="add_to_queue">Add to Queue2</button>
  </form>
</div>
<br><br><br>
<!-- add songs ends -->
